In [37]:
import pandas as pd
import numpy as np

import functions as fa

# **DATA**
---

In [11]:
url_data_steel = 'https://drive.google.com/file/d/1U0EV7OV2LwnV7Cxp5Z68lxRJPvwGGSOH/view?usp=sharing'
url_data_steel = 'https://drive.google.com/uc?id=' + url_data_steel.split('/')[-2]
data_steel= pd.read_csv(url_data_steel, dtype='str')

In [12]:
data_steel[[
    'Active power',
    'Reactive power'
]] = data_steel[[
    'Active power',
    'Reactive power'
]].astype("float64")

data_steel['Arc heating start'] = pd.to_datetime(data_steel['Arc heating start'])
data_steel['Arc heating end'] = pd.to_datetime(data_steel['Arc heating end'])

In [13]:
# **Normalizaciòn de columnas**

data_steel.columns = fa.normalize_name_columns(data_steel.columns)

In [14]:
data_steel.columns

Index(['key', 'arc_heating_start', 'arc_heating_end', 'active_power',
       'reactive_power'],
      dtype='object')

In [66]:
temp = np.datetime64(data_steel['arc_heating_end'][1]) - np.datetime64(data_steel['arc_heating_start'][1]) 
print(temp.astype('timedelta64[m]'))
print(temp / np.timedelta64(1, 'm'))

3 minutes
3.0833333333333335

In [57]:
data_steel['arc_heating_end'][0]

Timestamp('2019-05-03 11:06:02')

In [58]:
data_steel['arc_heating_start'][0]

Timestamp('2019-05-03 11:02:14')

In [67]:
7.28-10.33

-3.05

In [61]:
data_steel

,key,arc_heating_start,arc_heating_end,active_power,reactive_power
0,1,2019-05-03 11:02:14,2019-05-03 11:06:02,0.976059,0.687084
1,1,2019-05-03 11:07:28,2019-05-03 11:10:33,0.805607,0.520285
2,1,2019-05-03 11:11:44,2019-05-03 11:14:36,0.744363,0.498805
3,1,2019-05-03 11:18:14,2019-05-03 11:24:19,1.659363,1.062669
4,1,2019-05-03 11:26:09,2019-05-03 11:28:37,0.692755,0.414397
...,...,...,...,...,...
14871,3241,2019-09-01 03:58:58,2019-09-01 04:01:35,0.533670,0.354439
14872,3241,2019-09-01 04:05:04,2019-09-01 04:08:04,0.676604,0.523631
14873,3241,2019-09-01 04:16:41,2019-09-01 04:19:45,0.733899,0.475654
14874,3241,2019-09-01 04:31:51,2019-09-01 04:32:48,0.220694,0.145768
14875,3241,2019-09-01 04:34:47,2019-09-01 04:36:08,0.306580,0.196708

In [54]:
a = np.timedelta64(1621111111110,'ns')
print(a.astype('timedelta64[m]'))
print(a / np.timedelta64(1, 'm'))

27 minutes
27.0185185185

In [40]:
data_steel['arc_heating_end'].dt.time[0]

datetime.time(11, 6, 2)

In [36]:
pd.timedelta_range(data_steel['arc_heating_end'].dt.time, data_steel['arc_heating_end'].dt.time)

ValueError: Value must be Timedelta, string, integer, float, timedelta or convertible, not Series

In [33]:
data_steel['arc_heating_end'].dt.time

0        11:06:02
1        11:10:33
2        11:14:36
3        11:24:19
4        11:28:37
           ...
14871    04:01:35
14872    04:08:04
14873    04:19:45
14874    04:32:48
14875    04:36:08
Name: arc_heating_end, Length: 14876, dtype: object

In [31]:
data_steel['arc_heating_end'].dt.time + 5

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'int'

In [24]:
data_steel['arc_heating_end'].dt.hour - data_steel['arc_heating_start'].dt.hour
data_steel['arc_heating_end'].dt.minute - data_steel['arc_heating_start'].dt.minute
data_steel['arc_heating_end'].dt.second - data_steel['arc_heating_start'].dt.second

0       -12
1         5
2        -8
3         5
4        28
         ..
14871   -23
14872     0
14873     4
14874    -3
14875   -39
Length: 14876, dtype: int32

In [22]:
data_steel[data_steel['key'] == "100"]

     key   arc_heating_start     arc_heating_end  active_power  reactive_power
463  100 2019-05-06 20:07:30 2019-05-06 20:09:15      0.350614        0.257722
464  100 2019-05-06 20:11:50 2019-05-06 20:17:10      1.354681        1.021283
465  100 2019-05-06 20:18:23 2019-05-06 20:21:06      0.683954        0.522434
466  100 2019-05-06 20:24:21 2019-05-06 20:28:51      1.162562        0.772532
467  100 2019-05-06 20:30:06 2019-05-06 20:31:55      0.468779        0.312652
468  100 2019-05-06 20:33:49 2019-05-06 20:35:25      0.414536        0.264715